.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-size: 25px;
  font-weight: bold;
  padding: 1em;
  font-variant: small-caps;
  background-color: lawngreen;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.red {
  background-color: red;
}
